@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Jost", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply bg-orange-500 text-white px-4 py-2 rounded-full shadow-xl hover:bg-orange-600 transition-colors duration-300 ease-in-out;
}

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 20px;
}

*::-webkit-scrollbar-corner {
  background-color: #fff;
}
